@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"); /*=============================================
=            General-Reset            =
=============================================*/
* {
  margin: 0;
  padding: 0;
  font-family: "roboto", Courier, monospace;
  text-decoration: none;
  box-sizing: border-box;
}

/*=============================================
=            Header            =
=============================================*/
.header {
  padding: 20px;
  background: #fff;
  border-radius: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.header__button {
  grid-area: 1/1/2/2;
  align-self: center;
  align-items: center;
}
.header__button i {
  font-size: 20px;
  color: black;
}
.header__logo {
  grid-area: 1/2/2/3;
  text-align: center;
  font-family: "Shrikhand", cursive;
}

/*=============================================
=            Home-Location            =
=============================================*/
.location {
  padding: 20px;
  background: linear-gradient(0deg, rgb(243, 243, 243) 0%, rgb(242, 242, 242) 68%, rgb(239, 239, 239) 81%, rgb(237, 237, 237) 85%, rgb(234, 234, 234) 91%, rgb(230, 230, 230) 94%, rgb(228, 228, 228) 98%, rgb(215, 215, 215) 100%);
  border-radius: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.location i {
  font-size: 16px;
  color: #353535;
}
.location h2 {
  font-size: 17px;
  color: #353535;
}

/*=============================================
=            Home-Explorer            =
=============================================*/
.explorer {
  padding: 20px;
  background: #fafafa;
  border-radius: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.explorer__button {
  background: linear-gradient(to bottom, #FF79DA 5%, #9356DC 100%);
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 4px 4px 8px -2px #d0d0d0;
  border: 0;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.explorer__button:hover {
  box-shadow: 4px 4px 8px -2px #aaaaaa;
  opacity: 0.9;
}
.explorer__paragraph {
  font-weight: 300;
}

/*=============================================
=            Home-Working            =
=============================================*/
.working {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  background: transparent;
  border-radius: 0;
  margin: auto;
  box-sizing: content-box;
  max-width: 1400px;
}
.working__container {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  background: transparent;
  border-radius: 0;
  margin: 0;
}
.working__container h6 {
  padding: 7px 10px;
  background: #9356DC;
  border-radius: 50%;
  margin: 0 0 0 -25px;
  color: white;
}
.working__container i {
  color: #353535;
}
.working__card {
  display: flex;
  gap: 10px;
  padding: 20px 15px;
  background: #f6f6f6;
  border-radius: 20px;
  margin: 0;
  width: 100%;
  box-shadow: 4px 4px 8px -2px #d0d0d0;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}
.working__card:hover {
  background-color: #f2eafb;
  box-shadow: 4px 4px 8px -2px #aaaaaa;
}
.working__card:hover i {
  color: #965add;
}

@media all and (max-width: 768px) {
  .working__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
/*=============================================
=            Home-Restaurant            =
=============================================*/
.restaurant {
  padding: 30px 20px 40px 20px;
  background: #f6f6f6;
  border-radius: 0px;
  margin: 0;
}
.restaurant__container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.restaurant__card {
  padding: 0 0 20px 0;
  background: #ffffff;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: 4px 4px 8px -2px #d0d0d0;
  gap: 20px;
  transition: all 0.5s;
}
.restaurant__card:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 8px -2px #aaaaaa;
}
.restaurant__card div {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 50px;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px 25px 0 15px;
  align-items: center;
}
.restaurant h3 {
  grid-area: 1/1/2/4;
  color: #000;
}
.restaurant p {
  grid-area: 2/1/3/4;
  color: #353535;
}
.restaurant__iheart--regular {
  grid-area: 1/4/3/5;
  margin: auto;
  font-size: 30px;
  color: #000;
  padding: 5px;
}
.restaurant__iheart--solid {
  grid-area: 1/4/3/5;
  padding: 5px;
  margin: auto;
  font-size: 10px;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  cursor: pointer;
}
.restaurant__iheart--solid:hover {
  font-size: 30px;
  transform: scale(1.2);
  transition: 1s;
  background: linear-gradient(to bottom, #FF79DA 5%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant__card1 {
  grid-area: 2/2/4/3;
}
.restaurant__card2 {
  grid-area: 3/3/5/4;
}
.restaurant__card3 {
  grid-area: 3/1/5/2;
}
.restaurant__card4 {
  grid-area: 4/2/6/3;
}

.image-restaurants {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

@media all and (max-width: 768px) {
  .restaurant__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media all and (min-width: 769px) and (max-width: 1200px) {
  .restaurant__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .restaurant__card1 {
    grid-area: 2/1/3/2;
  }
  .restaurant__card2 {
    grid-area: 2/2/3/3;
  }
  .restaurant__card3 {
    grid-area: 3/1/4/2;
  }
  .restaurant__card4 {
    grid-area: 3/2/4/3;
  }
}
@keyframes scale-up-ver-bottom {
  0% {
    transform: scaleY(0.4);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}
/*=============================================
=            menu          =
=============================================*/
.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background: #f6f6f6;
  border-radius: 20px;
  margin: -50px auto 0 auto;
  max-width: 1400px;
  position: relative;
}
.menu__image {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}
.menu__container-heading {
  display: grid;
  grid-template-columns: repeat(7, 1fr) 50px;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.menu__heading {
  font-family: "Shrikhand", cursive;
  grid-area: 1/1/2/8;
}
.menu__iheart--regular {
  grid-area: 1/8/2/9;
  margin: auto;
  font-size: 30px;
  color: #000;
  padding: 5px;
}
.menu__iheart--solid {
  grid-area: 1/8/2/9;
  padding: 5px;
  margin: auto;
  font-size: 10px;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  cursor: pointer;
}
.menu__iheart--solid:hover {
  font-size: 30px;
  transform: scale(1.2);
  transition: 1s;
  background: linear-gradient(to bottom, #FF79DA 5%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__container-button {
  padding: 40px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.menu__button-commander {
  background: linear-gradient(to bottom, #FF79DA 5%, #9356DC 100%);
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 4px 4px 8px -2px #d0d0d0;
  border: 0;
  padding: 15px 20px;
  cursor: pointer;
}
.menu__button-commander:hover {
  box-shadow: 4px 4px 8px -2px #aaaaaa;
  opacity: 0.9;
}

.fa-circle-check {
  padding: 20px;
  font-size: 30px;
  -webkit-text-stroke: 1px #99E2D0;
  color: #ffffff;
  border-radius: 0px 15px 15px 0px;
  margin-right: -70px;
  transition: all 0.5s;
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.menu-section__heading {
  padding-bottom: 10px;
  background: linear-gradient(to right, #99E2D0, #99E2D0) no-repeat;
  background-size: 50px 4px;
  background-position: left bottom;
}
.menu-section__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0;
  background: #ffffff;
  border-radius: 20px;
  margin: 0;
  box-shadow: 4px 4px 8px -2px #d0d0d0;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
}
.menu-section__card span {
  display: flex;
}
.menu-section__card span p {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
.menu-section__card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
}
.menu-section__card div * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-section__card:hover .fa-circle-check {
  margin-right: 0;
  transform: rotate(360deg);
}

.menu-section__container-icheck {
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*=============================================
=            Footer            =
=============================================*/
footer {
  padding: 20px;
  background: #353535;
  border-radius: 0;
  margin: 0;
}

.footer {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__link {
  transition: all 0.5s;
  color: white;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__heading {
  color: #fff;
  font-family: "Shrikhand", cursive;
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
