/*=============================================
=            Color            =
=============================================*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-footer:#353535;
$color-neutral:#fff;

$color-location:linear-gradient(0deg, rgb(243, 243, 243) 0%, rgb(242, 242, 242) 68%, rgb(239, 239, 239) 81%, rgb(237, 237, 237) 85%, rgb(234, 234, 234) 91%, rgb(230, 230, 230) 94%, rgb(228, 228, 228) 98%, rgb(215, 215, 215) 100%);
$color-btn:linear-gradient(to bottom, #FF79DA 5%, #9356DC 100%);
/*=====  End of Color  ======*/