/*=============================================
=            Color            =
=============================================*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-footer:#353535;
$color-neutral:#fff;
/*=====  End of Color  ======*/