@use "../utils/mixin.scss" as mx;
@use "../utils/variable" as vr;

body
{
    z-index: 1000;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid vr.$color-primary;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*=============================================
=            Home-Location            =
=============================================*/
.location
{
    @include mx.container($border:0, $background:vr.$color-location, $padding:20px, $margin:0);
    @include mx.flex-center ($gap: 15px);
    i
    {
        font-size: 16px;
        color: vr.$color-footer;
    }
    h2
    {
        font-size: 17px;
        color: vr.$color-footer;
    }
}
/*=============================================
=            Home-Explorer            =
=============================================*/
.explorer
{
    @include mx.container($border:0, $background:vr.$color-explorer, $padding:20px, $margin:0);
    @include mx.flex-column-center($gap:20px);
    text-align: center;

    &__button{
        @include mx.explorer__btn;
        @include mx.btn--animation($opacity:0.9, $scale:1.02);
    }
    &__paragraph
    {
        font-weight: 300;
    }
}
/*=============================================
=            Home-Working            =
=============================================*/
.working
{
    @include mx.flex-column($gap:20px);
    @include mx.container($border:0, $background:white, $padding:30px 20px, $margin:auto);
    box-sizing: content-box;

    max-width: 1400px;
    &__container
    {
        @include mx.flex($gap:20px);
        @include mx.container($border:0, $background:transparent, $padding:20px 0, $margin:0);
      
        h6{
            @include mx.container($border:50%, $background:vr.$color-primary, $padding:7px 10px, $margin: 0 0 0 -25px);
            color:white;
        }
        i
        {
            color: vr.$color-footer;
        }

    }
    &__card
    {
        @include mx.flex($gap:10px);
        @include mx.container($border:20px, $background:vr.$color-working-card, $padding:20px 15px, $margin:0);
    
        width: 100%;
        box-shadow: 4px 4px 8px -2px vr.$color-shadow;
        align-items: center;
        font-weight: bold;
        @include mx.card--animation;
               
    }
}
@media all and (max-width: 768px)
{
    .working /* mobile */
    {
        &__container
        {
            @include mx.flex-column($gap:30px);
        }
    }
}

/*=============================================
=            Home-Restaurant            =
=============================================*/
.restaurant
{
    @include mx.container($border:0px, $background:vr.$color-working-card, $padding: 30px 20px 40px 20px, $margin:0);
    &__container
    {
        max-width: 1400px;
        margin: auto;
        @include mx.grid($columns:repeat(3, 1fr),$rows:50px repeat(4, 1fr),$gap:30px);
    }
    &__card
    {
        @include mx.container($border:20px, $background:#ffffff, $padding: 0 0 20px 0, $margin:0);
        cursor: pointer;
        box-shadow: 4px 4px 8px -2px vr.$color-shadow;
        gap: 20px;
        transition: all 0.5s;
        @include mx.btn--animation($opacity:1, $scale:1.02);

        div 
        {
            @include mx.grid($columns:repeat(3, 1fr) 50px,$rows:repeat(2, 1fr),$gap:0px);
            padding: 10px 25px 0 15px;  
            align-items: center;
        }
    }
    h3
    {
        grid-area: 1 / 1 / 2 / 4;
        color: #000;
    }
    p
    {
        grid-area: 2 / 1 / 3 / 4;
        color: vr.$color-footer
    }
    &__iheart--regular
    {
        grid-area: 1/4/3/5;
        @include mx.heart--regular;
    }
    &__iheart--solid
    {
        grid-area: 1/4/3/5;
        @include mx.heart--solid;
        
    }
    &__card1
    {
        grid-area: 2 / 2 / 4 / 3;
    }
    &__card2
    {
        grid-area: 3 / 3 / 5 / 4; 
    }
    &__card3
    {
        grid-area: 3 / 1 / 5 / 2;
    }
    &__card4
    {
        grid-area: 4 / 2 / 6 / 3;
    }
}
.image-restaurants {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
}
@media all and (max-width: 768px) /* mobile */
{
    .restaurant
    {
        &__container
        {
            @include mx.flex-column($gap:30px);
        }
    }
}
@media all and (min-width: 769px) and (max-width: 1200px) /* tablet */
{
    .restaurant
    {
        &__container
        {
            @include mx.grid($columns:repeat(2, 1fr),$rows:auto,$gap:30px);
        }
        &__card1
        {
            grid-area:  2 / 1 / 3 / 2;
        }
        &__card2
        {
            grid-area:  2 / 2 / 3 / 3;
        }
        &__card3
        {
            grid-area: 3 / 1 / 4 / 2;
        }
        &__card4
        {
            grid-area: 3 / 2 / 4 / 3;
        }
    }
}
.header_animation, .home, .footer_animation
{
    animation: cat 0ms 2s both;
}
  @keyframes cat {
	0% {
		transform: translateX(-9999px);
	}
	100% {
		transform: translateX(0);
	}
}