@use "../utils/mixin.scss" as mx;
@use "../utils/variable" as vr;

.location
{
    @include mx.container($border:0, $background:vr.$color-location, $padding:20px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.explorer
{
    @include mx.container($border:0, $background:#fafafa, $padding:20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.working
{
    max-width: 1400px;
    margin: auto;
    &__heading
    {

    }
    &__container
    {
        display: flex;
    }
    &__card
    {
        display: flex;
        padding: 15px;
        background-color: #f6f6f6;
        width: 100%;
        border-radius: 20px;
        box-shadow: 4px 4px 8px -2px #d0d0d0;
        align-items: center;
        gap: 10px;
    }
}
.restaurant
{
    &__container
    {
        max-width: 1400px;
        margin: auto;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }
    &__card1
    {
        grid-area: 1 / 2 / 3 / 3;
    }
    &__card2
    {
        grid-area: 2 / 1 / 4 / 2;   
    }
    &__card3
    {
        grid-area: 3 / 2 / 5 / 3;
    }
    &__card4
    {
        grid-area: 2 / 3 / 4 / 4;
    }
}

  .image-restaurants {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
  }
  