@use "../../base/mixin.scss" as mx;
@use "../../base/variable.scss" as vr;

.footer
{
    @include mx.container($border:0px, $background:$color-footer, $padding:0px);
    flex-direction: column;
    align-items: center;
    
   
    div div
    {
        display: flex;
        gap: 10px;  
    }
    a:hover
    {
        text-decoration: underline;
    }
    >div
    {
        @include mixins.container($size:75%);
        display: flex;
        flex-direction: column;
        gap: 5px;
       
    }
}