@use "../utils/mixin.scss" as mx;
@use "../utils/variable" as vr;

footer
{
    @include mx.container($border:0, $background:#000, $padding:20px);
}
.footer
{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    &__link, &__heading
    {
        color : #fff;
    }
}