@use "../utils/mixin.scss" as mx;
@use "../utils/variable" as vr;

footer
{
    @include mx.container($border:0, $background:vr.$color-footer, $padding:20px);
}
.footer
{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    &__link
    {
        color : #fff;
    }
    &__heading
    {
        color : #fff;
        font-family: "Shrikhand", cursive;
    }
}