
/*=============================================
=            General-Reset            =
=============================================*/
*
{
  margin: 0;
  padding: 0;
  font-family: 'roboto', Courier, monospace;
  text-decoration: none;

  box-sizing: border-box;
}



